:root {
  --dark: #1D1D1D;
  --dark-page: #121212;
  --dark-bg: #212121;
  --grey: #9E9E9E;
  --light: #F5F5F5;
  --white: #FFFFFF;

  --positive: #21BA45;
  --negative: #C10015;
  --info: #31CCEC;
  --warning: #F2C037;

  --red: #f44336;
  --green: #4caf50;
  --blue: #2196f3;
  --orange: #ff9800;
  --yellow: #ffeb3b;
  --purple: #9c27b0;
  --teal: #009688;
  --pink: #e91e63;
  --brown: #795548;
  --grey1: #607d8b;
  --grey2: #546e7a;
  --grey3: #455a64;
  --grey4: #37474f;
  --grey5: #263238;
  --grey6: #212121;
  --grey7: #1f1f1f;
  --grey8: #181818;
  --grey9: #121212;
}



// .bg-primary {
//   color: black !important;
// }
