@font-face {
    font-family: 'Gilroy';
    src: url('src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    src: url('src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    font-family: 'Gilroy', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.text-value-big {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


@font-face {
  font-family: 'Termina';
  src: url('src/assets/fonts/Termina-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Termina';
  src: url('src/assets/fonts/Termina-Bold.otf') format('opentype');
  font-weight: 700;
}


@font-face {
  font-family: 'Gotham';
  src: url('src/assets/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 400;
}


@font-face {
  font-family: 'Gotham';
  src: url('src/assets/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url('src/assets/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
}


.text-app-title {
  font-family: 'Termina', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.text-app-subtitle {
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.text-app-body {
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.text-app-body-bold {
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  font-size: 14px;
}


.text-page-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--grey5);
}
